/*
 *= require_tree .
 *= require_self
 *= require bootstrap-datepicker3
 */

@import "bootstrap";

body {
  padding-top: 50px;
}

.margin-top{
  margin-top:10px;
}

.current {
  padding-right: 16px;
  background-repeat: no-repeat;
  background-position: right center;
}

.fixedlayout {
  table-layout: fixed;
}

.hashtable {
  width: 40px;
}

th .desc {
  background-image: image-url("arrow_down.png");
}

th .asc {
  background-image: image-url("arrow_up.png");
}

td {
  vertical-align: middle;
}
