@import "bootstrap";
@import "binary_admin";
@import "bootstrap-datepicker3";
@import "rails_bootstrap_forms";
@import "form_shooter";
@import "mainmenu";
@import "payments";

.margin-top {
  margin-top: 10px;
}

.current {
  padding-right: 16px;
  background-repeat: no-repeat;
  background-position: right center;
}

.fixedlayout {
  table-layout: fixed;
}

.photohead {
  width: 66px;
}

table{
  word-wrap: break-word;
}

th .desc {
  background-image: image-url("arrow_down.png");
}

th .asc {
  background-image: image-url("arrow_up.png");
}

td {
  vertical-align: middle !important;
}

.logo-field {
  margin-top: 60px;
}

.form-group .col-xs-3, .col-xs-2 {
  padding-left: 5px;
  padding-right: 5px;
}

.form-horizontal .control-line {
  float: left;
  padding-top: 5px;
  text-align: left;
}

.radio input[type="radio"], .checkbox input[type="checkbox"] {
  float: none;
}
