%header.navbar.navbar-default.navbar-cls-top{role: "navigation"}
  .navbar-header
    %button.navbar-toggle{type: "button",
                         "data-toggle" => "collapse",
                         "data-target" => "#bs-navbar-collapse-main"}
      %span.sr-only= t(:toggle_navigation, scope: :mainmenu)
      %span.icon-bar
      %span.icon-bar
      %span.icon-bar
    = link_to t(:club_name), '#', id: "logo", class: "navbar-brand"
  .div.pull-right#status-bar
    = link_to t('mainmenu.log_out'), signout_path,
          method: :delete, class: 'btn btn-danger square-btn-adjust'

